# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
.dist-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# Virtual environments
venv/
.env/

# Machine Learning
data/
*.pt
*.pth

# Mac / Windows system files
.DS_Store
Thumbs.db
